<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Language Detection Service - Test Page</title>
    </head>
    <body>
        <h1>Language Detection Service - Testing page</h1>
        <form method="POST" action="/language-detector">
            <label for="TextForLanguageClassification">Enter text for language detection</label>
            <input id="TextForLanguageClassification" type="text" name="TextForLanguageClassification" />
            <input type="submit" value="Detect Language"/>
        </form>

    <h2>Ranked Detected language</h2>
        Original Text: @Model.OriginalText
    <table>
        <tr>
            <th>English Name</th>
            <th>Native Name</th>
            <th>Iso639-1 code</th>
            <th>Iso639-3 code</th>
            <th>Match Score</th>
        </tr>
        @Each.RankedMatches
        <tr>
            <td>@Current.EnglishName</td>
            <td>@Current.NativeName</td>
            <td>@Current.Iso6391LanguageCode</td>
            <td>@Current.Iso6393LanguageCode</td>
            <td>@Current.MatchScore</td>
        </tr>
        @EndEach
    </table>
    </body>
</html>
