<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Language Detection Service - Test Page</title>
    </head>
    <body>
        <h1>Language Detection Service - Testing page</h1>
        <form method="POST" action="/language-detector">
            <label for="TextForLanguageClassification">Enter text for language detection</label>
            <input id="TextForLanguageClassification" type="text" name="TextForLanguageClassification" />
            <input type="submit" value="Detect Language"/>
        </form>

    <h2>Ranked Detected language</h2>
        Original Text: @Model.OriginalText
        <ul>
            @Each.RankedMatches            
                <li>Iso6392 Language Code: @Current.Iso6393LanguageCode score is @Current.MatchScore</li>
            @EndEach
        </ul>
    </body>
</html>
